main {
  .aboutme-container {
    margin-top: 7rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 20rem);
    .about-me {
      width: 70%;
      color: $fontcolor;
      font-size: 1.2rem;
      font-family: "Playfair Display", serif;
      text-align: center;
    }
  }
}
