@media (min-width: 481px) {
  header {
    height: 5rem;

    .burger-menu {
      .burger__list {
        position: absolute;
        list-style: none;
        top: 5rem;
        height: 100vh;
      }
    }
  }
  .hero {
    margin-top: 7rem;
    top: 0;

    img {
      width: 30%;
      margin-top: 0rem;
    }
  }
  .cropped {
    margin-top: 7rem;
    top: 0;
    right: 0;

    img {
      width: 30%;
      margin-top: 0rem;
    }

    p {
      width: 40%;
      left: 50%;
    }
  }
  main {
    .cards-container {
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-around;

      .card {
        width: 40%;
      }
    }
    .aboutme-container {
      .about-me {
        margin-top: 10rem;
        width: 90%;
      }
    }
  }
}
@media (min-width: 768px) {
  header {
    .home {
      font-weight: 700;
      margin-left: 1rem;
    }
  }

  .hero {
    img {
      margin-left: 7%;
      margin-top: 3%;
      width: 60%;
    }
  }

  .cropped {
    img {
      margin-left: 7%;
      margin-top: 3%;
      width: 60%;
    }

    p {
      width: 50%;
      top: 12%;
      left: 40%;
    }
  }

  main {
    .cards-container {
      flex-flow: row wrap;
      align-items: flex-start;

      .card {
        width: 40%;
        margin: 2rem;
      }
    }
  }

  .aboutme-container {
    .about-me {
      max-width: 40%;
    }
  }

  .form-container {
    max-width: 60%;

    .form {
      .btns {
        .btn:hover {
          border: 1px;
          box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(37, 35, 35);
          transform: translateY(-0.2rem);
        }

        .btn:active {
          border: none;
          outline: none;
          transform: translateY(0.5rem);
          box-shadow: none;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    header {
      justify-content: space-around;

      .nav {
        display: flex;
        width: 50%;

        &__list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          list-style: none;

          .list__link:hover,
          :link,
          :active,
          :visited {
            font-size: 1.5rem;
            color: $fontcolor;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }

      .burger-menu {
        display: none;
      }

      .social-media {
        width: 30%;
      }
    }

    .hero {
      img {
        margin-left: 7%;
        margin-top: 3%;
        width: 40%;
      }
    }

    .cropped {
      img {
        margin-left: 7%;
        margin-top: 3%;
        width: 40%;
      }

      p {
        width: 40%;
        top: 15%;
        left: 50%;

        span {
          display: block;
        }
      }
    }

    main {
      margin-top: 5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cards-container {
        height: calc(100vh - 5rem);
        background-color: rgba(255, 255, 255, 0.5);
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
        align-items: flex-start;
        box-shadow: 1rem 2rem 1rem 0.5rem rgb(44, 2, 2);

        width: 80%;

        .card {
          flex-flow: row wrap;
          margin: 2rem;
          flex: 0 0 34rem;
          max-width: 40rem;

          img {
            max-width: 100%;
          }

          .card__body {
            flex-direction: column;
            align-items: center;

            p {
              text-align: center;
            }
          }
        }
      }

      .aboutme-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.5);
        width: 80%;
        height: calc(100vh - 5rem);
        box-shadow: 1rem 2rem 1rem 0.5rem rgb(44, 2, 2);

        .about-me {
          margin: 0 auto;
          max-width: 40%;
          color: black;

          a {
            color: blue;
          }

          a:hover {
            color: blue;
          }
        }
      }

      .container__form-container {
        background-color: rgba(255, 255, 255, 0.5);
        width: 80%;
        height: calc(100vh - 7rem);
        margin: 0 auto;
        box-shadow: 1rem 2rem 1rem 0.5rem rgb(44, 2, 2);

        .form-container {
          .form {
            .name {
              label,
              input {
                color: $headercolor;
              }
            }

            .company {
              label,
              input {
                color: $headercolor;
              }
            }

            .email {
              label,
              input {
                color: $headercolor;
              }
            }
            input {
              border: 0.1rem solid $headercolor;
            }

            ::placeholder {
              color: $headercolor;
              opacity: 0.5;
            }

            input:hover {
              box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem $hoverborder;
            }

            input:focus {
              outline: 0.2rem solid $focusborder;
            }

            .textarea-container {
              width: 60%;
              textarea {
                border: 0.1rem solid $headercolor;

                ::placeholder {
                  color: $headercolor;
                  opacity: 0.5;
                }
              }

              textarea:hover {
                box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem $hoverborder;
              }

              textarea:focus {
                outline: 0.2rem solid $focusborder;
              }
            }
          }
        }
      }
    }

    .form-container {
      max-width: 40%;
    }
  }
}

@media (min-width: 1344px) {
  body {
    main {
      .cards-container {
        max-width: 80%;
      }
      .aboutme-container {
        .about-me {
          max-width: 30%;
        }
      }
      .form-container {
        .textarea-container {
          textarea {
            width: 70%;
          }
        }
      }
    }
  }
}

@media (min-width: 1755px) {
  .cropped {
    .luay {
      max-width: 30%;
    }
  }
}
