:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Ibarra Real Nova", serif;
  background: linear-gradient(23deg, #391414 0%, #130202 22%, #130202 44%, #6c1010 66%, #130202 91%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  height: 7rem;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}
header .home {
  width: 8rem;
  margin-left: 1rem;
  font-size: 2rem;
}
header .home__link:hover,
header .home :active,
header .home :visited,
header .home :link {
  text-decoration: none;
  color: whitesmoke;
}
header .nav {
  display: none;
  font-size: 2rem;
}
header .social-media {
  display: block;
  width: 50%;
}
header .social-media__list {
  display: flex;
  justify-content: space-around;
}
header .social-media__list li {
  font-size: 2rem;
  list-style: none;
}
header .social-media__list li:hover,
header .social-media__list :active,
header .social-media__list :link,
header .social-media__list :visited {
  color: whitesmoke;
}
header .burger-menu {
  margin-left: auto;
  width: 4rem;
  height: 7rem;
  display: flex;
  align-items: center;
}
header .burger-menu .fas {
  font-size: 2.5rem;
  color: whitesmoke;
  cursor: pointer;
}
header .burger-menu input[type=checkbox] {
  display: none;
}
header .burger-menu input[type=checkbox]:checked ~ .burger__list {
  right: 0rem;
}
header .burger-menu .burger__list {
  position: absolute;
  list-style: none;
  top: 7rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -50rem;
  background-color: #333232;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: all 0.4s ease-in;
}
header .burger-menu .burger__list .burger__item {
  padding: 3rem 0rem;
}
header .burger-menu .burger__list .burger__item:hover,
header .burger-menu .burger__list .burger__item :visited,
header .burger-menu .burger__list .burger__item :link,
header .burger-menu .burger__list .burger__item :active {
  text-decoration: none;
  color: whitesmoke;
}

span {
  display: none;
}

.hero {
  background-size: cover;
  width: 100%;
  position: absolute;
  margin-top: 7rem;
  z-index: -10;
}
.hero img {
  width: 80%;
  margin-left: 4rem;
  margin-top: 15rem;
  opacity: 0.2;
}

.cropped {
  background-size: cover;
  position: absolute;
  margin-top: 7rem;
  right: 0;
  width: 100%;
  z-index: -10;
}
.cropped img {
  width: 80%;
  margin-left: 4rem;
  margin-top: 15rem;
  border: none;
  -webkit-animation: swing-in-left-fwd 2s ease-in 4s both;
  animation: swing-in-left-fwd 2s ease-in 4s both;
}
.cropped p {
  width: 80%;
  position: absolute;
  top: 7%;
  left: 7%;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
main .cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin-top: 7rem;
}
main .cards-container .card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 0.1rem solid lightgray;
  background-color: rgba(245, 238, 238, 0.6);
  margin: 2rem 0;
  border-radius: 1rem;
}
main .cards-container .card img {
  width: 100%;
  margin-top: 0.7rem;
}
main .cards-container .card__body {
  display: flex;
  flex-flow: column nowrap;
}
main .cards-container .card__body h4,
main .cards-container .card__body p {
  margin: 1rem;
}
main .cards-container .card .card__link {
  background-color: darkblue;
  width: 12rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem 0.3rem 1rem black;
}
main .cards-container .card .card__link a:link,
main .cards-container .card .card__link :visited,
main .cards-container .card .card__link :active,
main .cards-container .card .card__link :hover {
  text-decoration: none;
  color: whitesmoke;
}

main .aboutme-container {
  margin-top: 7rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 20rem);
}
main .aboutme-container .about-me {
  width: 70%;
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.container__form-container {
  /* margin-top: 7rem;
  display: flex;
  justify-content: center;
  height: calc(100vh - 5rem);

  .form-container {
    //margin: 0 auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .form {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $fontcolor;
      height: 100%;

      .name {
        @include form-style;

        label,
        input {
          @include label-input;
        }
      }

      .company {
        @include form-style;

        label,
        input {
          @include label-input;
        }
      }

      .email {
        @include form-style;

        label,
        input {
          @include label-input;
        }
      }

      .textarea-container {
        width: 100%;

        textarea {
          color: $fontcolor;
          width: 100%;
          height: 15rem;
          background-color: transparent;
          margin-top: 2rem;
          resize: none;
          border: 0.1rem solid $fontcolor;
          border-radius: 0.4rem;
        }

        ::placeholder {
          text-align: center;
        }

        textarea:focus {
          outline: 0.2rem solid $focusborder;
        }

        textarea:hover {
          box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem $hoverborder;
        }
      }

      input {
        border: 0.1rem solid $fontcolor;
      }

      input:focus {
        outline: 0.2rem solid $focusborder;
      }

      input:hover {
        box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem $hoverborder;
      }

      .btns {
        width: 100%;
        display: flex;
        justify-content: center;

        .btn {
          width: 15rem;
          margin: 2rem;
          padding: 0.5rem;
          border-radius: 1rem;
          font-size: 2rem;
          font-weight: 700;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: rgb(100, 94, 94);
        }

        .btn:hover {
          border: 1px;
          box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(37, 35, 35);
          transform: translateY(-0.2rem);
        }

        .btn:active {
          border: none;
          outline: none;
          transform: translateY(0.5rem);
          box-shadow: none;
        }
      }
    }
  } */
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.container__form-container .form-container {
  height: 100vh;
  width: 70%;
  height: calc(100vh - 20rem);
}
.container__form-container .form-container .form {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.container__form-container .form-container .form .form-elements {
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 15%;
}
.container__form-container .form-container .form .form-elements input {
  width: 100%;
  height: 50%;
  font-size: 1rem;
  background-color: transparent;
}
.container__form-container .form-container .form .textarea-container {
  height: 20%;
}
.container__form-container .form-container .form .textarea-container textarea {
  height: 100%;
}
.container__form-container .form-container .form .btns {
  height: 10%;
  flex-flow: row wrap;
}
.container__form-container .form-container .form .btns button {
  width: 40%;
  height: 50%;
}

@media (min-width: 481px) {
  header {
    height: 5rem;
  }
  header .burger-menu .burger__list {
    position: absolute;
    list-style: none;
    top: 5rem;
    height: 100vh;
  }

  .hero {
    margin-top: 7rem;
    top: 0;
  }
  .hero img {
    width: 30%;
    margin-top: 0rem;
  }

  .cropped {
    margin-top: 7rem;
    top: 0;
    right: 0;
  }
  .cropped img {
    width: 30%;
    margin-top: 0rem;
  }
  .cropped p {
    width: 40%;
    left: 50%;
  }

  main .cards-container {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  main .cards-container .card {
    width: 40%;
  }
  main .aboutme-container .about-me {
    margin-top: 10rem;
    width: 90%;
  }
}
@media (min-width: 768px) {
  header .home {
    font-weight: 700;
    margin-left: 1rem;
  }

  .hero img {
    margin-left: 7%;
    margin-top: 3%;
    width: 60%;
  }

  .cropped img {
    margin-left: 7%;
    margin-top: 3%;
    width: 60%;
  }
  .cropped p {
    width: 50%;
    top: 12%;
    left: 40%;
  }

  main .cards-container {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  main .cards-container .card {
    width: 40%;
    margin: 2rem;
  }

  .aboutme-container .about-me {
    max-width: 40%;
  }

  .form-container {
    max-width: 60%;
  }
  .form-container .form .btns .btn:hover {
    border: 1px;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #252323;
    transform: translateY(-0.2rem);
  }
  .form-container .form .btns .btn:active {
    border: none;
    outline: none;
    transform: translateY(0.5rem);
    box-shadow: none;
  }
}
@media (min-width: 992px) {
  body header {
    justify-content: space-around;
  }
  body header .nav {
    display: flex;
    width: 50%;
  }
  body header .nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }
  body header .nav__list .list__link:hover,
body header .nav__list :link,
body header .nav__list :active,
body header .nav__list :visited {
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
  }
  body header .burger-menu {
    display: none;
  }
  body header .social-media {
    width: 30%;
  }
  body .hero img {
    margin-left: 7%;
    margin-top: 3%;
    width: 40%;
  }
  body .cropped img {
    margin-left: 7%;
    margin-top: 3%;
    width: 40%;
  }
  body .cropped p {
    width: 40%;
    top: 15%;
    left: 50%;
  }
  body .cropped p span {
    display: block;
  }
  body main {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .cards-container {
    height: calc(100vh - 5rem);
    background-color: rgba(255, 255, 255, 0.5);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    align-items: flex-start;
    box-shadow: 1rem 2rem 1rem 0.5rem #2c0202;
    width: 80%;
  }
  body main .cards-container .card {
    flex-flow: row wrap;
    margin: 2rem;
    flex: 0 0 34rem;
    max-width: 40rem;
  }
  body main .cards-container .card img {
    max-width: 100%;
  }
  body main .cards-container .card .card__body {
    flex-direction: column;
    align-items: center;
  }
  body main .cards-container .card .card__body p {
    text-align: center;
  }
  body main .aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: calc(100vh - 5rem);
    box-shadow: 1rem 2rem 1rem 0.5rem #2c0202;
  }
  body main .aboutme-container .about-me {
    margin: 0 auto;
    max-width: 40%;
    color: black;
  }
  body main .aboutme-container .about-me a {
    color: blue;
  }
  body main .aboutme-container .about-me a:hover {
    color: blue;
  }
  body main .container__form-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: calc(100vh - 7rem);
    margin: 0 auto;
    box-shadow: 1rem 2rem 1rem 0.5rem #2c0202;
  }
  body main .container__form-container .form-container .form .name label,
body main .container__form-container .form-container .form .name input {
    color: black;
  }
  body main .container__form-container .form-container .form .company label,
body main .container__form-container .form-container .form .company input {
    color: black;
  }
  body main .container__form-container .form-container .form .email label,
body main .container__form-container .form-container .form .email input {
    color: black;
  }
  body main .container__form-container .form-container .form input {
    border: 0.1rem solid black;
  }
  body main .container__form-container .form-container .form ::placeholder {
    color: black;
    opacity: 0.5;
  }
  body main .container__form-container .form-container .form input:hover {
    box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem #3a0808;
  }
  body main .container__form-container .form-container .form input:focus {
    outline: 0.2rem solid #945151;
  }
  body main .container__form-container .form-container .form .textarea-container {
    width: 60%;
  }
  body main .container__form-container .form-container .form .textarea-container textarea {
    border: 0.1rem solid black;
  }
  body main .container__form-container .form-container .form .textarea-container textarea ::placeholder {
    color: black;
    opacity: 0.5;
  }
  body main .container__form-container .form-container .form .textarea-container textarea:hover {
    box-shadow: 0.08rem 0.08rem 0.08rem 0.08rem #3a0808;
  }
  body main .container__form-container .form-container .form .textarea-container textarea:focus {
    outline: 0.2rem solid #945151;
  }
  body .form-container {
    max-width: 40%;
  }
}
@media (min-width: 1344px) {
  body main .cards-container {
    max-width: 80%;
  }
  body main .aboutme-container .about-me {
    max-width: 30%;
  }
  body main .form-container .textarea-container textarea {
    width: 70%;
  }
}
@media (min-width: 1755px) {
  .cropped .luay {
    max-width: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
